# Python for Data Science
## Session 7 - homework

### Datasets â€“ Pandas II

## Pandas II
### Handling Missing Data and Data Transformation

Let's practica a little bit here, take home what you did not solve today.

Exercises:

1. Create a new column called **professor_initials** that stores the initials of each professor's first and last names. Use the following data:

In [71]:
import pandas as pd #importing necessary library
data = { #creating a data set
    'professor': ['Ludmila Kuncheva', 'Antonio Torralba', 'Manuel Gonzalez', 'Bastian Leibe'],
    'department': ['Computer Science', 'Computer Vision', 'AI & Robotics', 'Autonomous Systems'],
    'age': [45, 50, 47, 38]
}

df = pd.DataFrame(data) #putting it into a data frame of pandas

# Add a new column for professor initials
#use lambda to join first characters of each string given they are split by space (empty char)
df['professor_initials'] = df['professor'].apply(lambda name: ''.join([part[0] for part in name.split()]))
print(df.head())

          professor          department  age professor_initials
0  Ludmila Kuncheva    Computer Science   45                 LK
1  Antonio Torralba     Computer Vision   50                 AT
2   Manuel Gonzalez       AI & Robotics   47                 MG
3     Bastian Leibe  Autonomous Systems   38                 BL

2. Given the dataframe below. Use **join** to combine this new DataFrame with the original one based on the professor column.

In [72]:
courses_data = {
    'professor': ['Ludmila Kuncheva', 'Antonio Torralba', 'Manuel Gonzalez', 'Bastian Leibe'],
    'courses': ['Machine Learning', 'Computer Vision', 'AI Programming', 'Self-Driving Cars']
}
df_courses = pd.DataFrame(courses_data)


# Set 'professor' column as index for both DataFrames to use join
df.set_index('professor', inplace=True)
df_courses.set_index('professor', inplace=True)

# Join the two DataFrames
df_combined = df.join(df_courses)

# Reset index for display purposes
df_combined.reset_index(inplace=True)

print(df_combined.head())

          professor          department  age professor_initials  \
0  Ludmila Kuncheva    Computer Science   45                 LK
1  Antonio Torralba     Computer Vision   50                 AT
2   Manuel Gonzalez       AI & Robotics   47                 MG
3     Bastian Leibe  Autonomous Systems   38                 BL

             courses
0   Machine Learning
1    Computer Vision
2     AI Programming
3  Self-Driving Cars

3. Combine the original df and df_courses DataFrames.

In [73]:
data = {
    'professor': ['Ludmila Kuncheva', 'Antonio Torralba', 'Manuel Gonzalez', 'Bastian Leibe'],
    'department': ['Computer Science', 'Computer Vision', 'AI & Robotics', 'Autonomous Systems'],
    'age': [45, 50, 47, 38]
}

df = pd.DataFrame(data)

courses_data = {
    'professor': ['Ludmila Kuncheva', 'Antonio Torralba', 'Manuel Gonzalez', 'Bastian Leibe'],
    'courses': ['Machine Learning', 'Computer Vision', 'AI Programming', 'Self-Driving Cars']
}
df_courses = pd.DataFrame(courses_data)

# Merge the DataFrames based on the professor column
df_combined = pd.merge(df, df_courses, on='professor')

print(df_combined.head())

          professor          department  age            courses
0  Ludmila Kuncheva    Computer Science   45   Machine Learning
1  Antonio Torralba     Computer Vision   50    Computer Vision
2   Manuel Gonzalez       AI & Robotics   47     AI Programming
3     Bastian Leibe  Autonomous Systems   38  Self-Driving Cars

4. In the professor column, create a new column professor_last_name by extracting the last name of each professor using string operations.

In [74]:
# Create a new column 'professor_last_name' by extracting the last name from the 'professor' column
df_combined['professor_last_name'] = df_combined['professor'].apply(lambda name: name.split()[-1])

df_combined.head()

,professor,department,age,courses,professor_last_name
0,Ludmila Kuncheva,Computer Science,45,Machine Learning,Kuncheva
1,Antonio Torralba,Computer Vision,50,Computer Vision,Torralba
2,Manuel Gonzalez,AI & Robotics,47,AI Programming,Gonzalez
3,Bastian Leibe,Autonomous Systems,38,Self-Driving Cars,Leibe

## Pandas II

### Summary

Today we saw deeper ways of manipulating **dataframes** and **series**, from applying functions on columns, merging / joining multiple datasets, replacing missing values, to finally work with strings using regex in the back.

We hope you enjoyed this session, see you next in session 8!